:root {
    --primary-color: #00a34f;
    --secondary-color: #911812;
    --third-color: #a0a003;
}

section {
    padding: 20px;
    max-width: 400px;
}

section img {
    max-width: 400px;
}

main {
    display: grid;
    grid-template: 1fr / 1fr;
}