:root {
    --primary-color: #115055;
    --second-color: #143790;
    --third-color: #F6D024;
}

body {
    display: grid;
    grid-template: auto auto 1fr auto / 1fr;
}

/* Header starts */
header {
    display: grid;
    background-color: var(--primary-color);
    max-height: 120px;
    grid-template-columns: 1fr auto 1fr;
}

header h1 {
    grid-column: 2/3;
    padding: 20px;
    color: #ffffff;
}

header img {
    justify-self: end;
    grid-column: 1/2;
    width: 80px;
    height: 80px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--second-color);
}

#mode,
#menu {
    align-self: center;
    justify-self: center;
    max-height: 3rem;
    max-width: 3rem;
    cursor: pointer;
    margin: 10px;
    top: 1rem;
    position: absolute;
    font-size: 1.5rem;
    background-color: #eee;
}

#mode {
    right: 3.5rem;
}

#menu {
    color: #000;
    right: 0.5rem;
}

/* Header ends */

ul {
    list-style: none;
}

/* Navbar starts */
nav {
    background-color: var(--second-color);
    color: #ffffff;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    color: #ffffff;
    text-align: center;
}

nav ul li a {
    padding: 1em;
    color: #ffffff;
}

li a {
    text-decoration: none;
}

nav ul li:hover {
    background-color: #1D52D7;
}

/* Navbar ends */

/* Main starts */

main {
    margin: 1rem auto;
    display: grid;
    grid-template: auto auto 1fr 1fr / 1fr;
    gap: 1rem;
}

.hero {
    margin: 10px auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
}

.hero img {
    width: 100%;
    height: auto;
}

.herolabel {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    box-shadow: 0 0 1rem #fff;
    opacity: 0.75;
    border-radius: 10px;
}

.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
}

section {
    max-width: 400px;
    padding: 0px 0px 10px 0px;
    box-shadow: 0px 0px 10px #bfbfbf;
    border-radius: 15px;
    border: #4B77E7 solid 1px;
}

section :where(ul, p) {
    padding: 5px 20px;
}

section h3 {
    background-color: var(--primary-color);
    color: #ffffff;
    margin-top: 0px;
    text-align: center;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
}

.card {
    margin: 20px;
}

main iframe {
    width: 100%;
}

/* Main ends */

/* Footer starts */
footer {
    background-color: var(--primary-color);
    text-align: center;
    color: #ffffff;
}

/* Footer ends */

/* Hamburguer button CSS */
/* small view navigation */


#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.active::before {
    content: "📍 ";
}

/* Hamburguer button CSS ends */